<%= render "shared/second-header" %>

  <div class="contents-row">
    <div class="container">
      <h3 class="form-header">投稿する</h3>
      <%= form_with(model: @tweet, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %>
      
      <div class="form-group">
        <div class="form-text">
          <div class="click-upload">
            <%= f.label :image, "投稿画像" %><br />
            <%= f.file_field :image %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-text">
          <%= f.label :type_name, "魚種" %><br />
          <%= f.text_field :type_name, class:"input-default", placeholder: "カタカナで入力してください" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :date, "日時" %><br />
          <%= f.datetime_select :date,use_month_numbers: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :quantity_id, "数量" %><br />
          <%= f.collection_select(:quantity_id, Quantity.all, :id, :name, {}, {class:"collection"}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :size_id, "サイズ(cm)" %><br />
          <%= f.collection_select(:size_id, Size.all, :id, :name, {}, {class:"collection"}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :weather_id, "天気" %><br />
          <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class:"collection"}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :wind, "風(m/s)" %><br />
          <%= f.collection_select(:wind_id, Wind.all, :id, :name, {}, {class:"collection"}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :feed, "エサ" %><br />
          <%= f.text_field :feed, class:"input-default", placeholder: "エサもしくはルアーの種類" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :address, "釣れた場所" %><br />
          <%= f.text_field :address, class:"input-default", placeholder: "漁港名など" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text">
          <%= f.label :description, "その他の情報" %><br />
          <%= f.text_area :description, class:"input-default", placeholder: "備考" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "投稿する", class:"login-btn" %>
      </div>

      <% end %>
    </div>
  </div>

<%= render "shared/second-footer" %>