<header class='top-page-header'>
  <div class='nav'>
    <%= link_to image_tag("Fishtweet.png", class: "btn fishtweet-icon"), "/" %>
    <ul class='lists-right'>
      <% if user_signed_in? %> 
        <li><%= link_to '釣果を投稿する', new_user_tweet_path(current_user.id), class: "btn new-tweet" %></li>
        <li><%= link_to current_user.name, user_path(current_user.id), class: "btn user-name" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "btn login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "btn sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>